.semibold {
    font-weight: bolder;
}

.spacebetween {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}